@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    margin: 20px;
    background-color: #fff9cc;
}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9
}

.heading {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.required {
    color: red;
}

.gender-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
}